@using Microsoft.AspNetCore.Identity
@model Ispit.Books.Models.Book

@{
    ViewData["Title"] = "Create";
}
@if (ViewBag.Msg != null)
{
    <div class="alert alert-danger">
        @ViewBag.Msg
    </div>
}

<h1>Create new Book</h1>

<hr />
<div class="row">
    <div class="col-md-4 mb-3">
        <form asp-controller="Book" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label for="AuthorSelect">Author</label>
                <select name="AuthorId" class="form-control form-select" id="AuthorSelect">
                
                    @foreach(var item in ViewBag.Authors)
                    {
                        <option value="@item.AuthorId">@item.PenName</option>
                    }
                </select>
            </div>

            <div class="col mb-3">
                <label for="PublisherSelect">Publisher</label>
                <select name="PublisherId" class="form-control form-select" id="PublisherSelect">                    
                
                    @foreach(var item in ViewBag.Publishers)
                    {
                        <option value="@item.PublisherId">@item.Title</option>
                    }
                </select>
            </div>

            <div class="col mb-3">
                 <label for="UserSelect">User</label>
                <select name="UserId" class="form-control form-select" id="UserSelect">
                    <option value="">Select user</option>
                
                    @foreach(var item in ViewBag.Users as List<IdentityUser>)
                    {
                        <option value="@item.Id">@item.UserName</option>
                    }
                </select>
            </div>



            <div class="form-group mb-3">
                <input type="submit" value="Create book" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
