@model IEnumerable<Ispit.Books.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Admins book list</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Author.PenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td></td>
            @*
                TODO : Napraviti linkove za CRUD ove liste knjiga i dodati link za novu knjigu
            *@      
        </tr>
}
    </tbody>
</table>
